<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="blogs content">
    <h1>Here's a good joke MAYBE</h1>
    <br><br>
    <h3><%= setup %></h3>
    <h2><%= punchline %></h2>
  
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>